/* Bank Account */
.bank--container {
  width: 90vw;

  @include for-desktop-up {
    width: 65vw;
    max-width: 1100px;
  }
}

/* User Account End-of-service forms */
.end-of-service {
  border: 1px solid #fac59c;
  padding: 2em;
  margin-left: auto;
  margin-right: auto;

  @include for-desktop-up {
    width: 90%;
    padding: 2em 3em 1em 3em;
  }
}

.end-of-service-checkbox {
  margin-bottom: 2em;

  @include for-desktop-up {
    margin-top: 2em;
  }
}

.end-of-service-date {
  width: 160px;
}
