.login-container {
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-form {
  @include for-desktop-up {
    display: flex;
    justify-content: space-around;
  }
}

.user-form--left,
.user-form--right {
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
  }
}
