/* ------ Login ------ */
.login-container {
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 300px;
  margin: 0 auto;

  @include for-desktop-up {
    width: 400px;
  }
}

.login-btn {
  width: 300px;

  @include for-desktop-up {
    width: 400px;
  }
}

.keep-me-logged-in {
  margin: -20px 14px 20px 14px;
  padding-bottom: 35px;
  border-bottom: .5px solid $light-grey;
  width: 300px;

  @include for-desktop-up {
    width: 400px;
  }
}

.login-forgot {
  font-size: .885em;
}

/* ------ Forgot Username/Password ------ */
.forgot-container {
  height: calc(100vh - 240px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  margin: 0 auto;

  @include for-desktop-up {
    width: 650px;
  }
}

/* ------ User Account ------ */
/* Common */
.user-account--user-number {
  margin: auto 0 auto 1em;
}

.user-form {
  @include for-desktop-up {
    display: flex;
    justify-content: space-around;
  }
}

.user-form--left,
.user-form--right {
  @include for-desktop-up {
    display: flex;
    flex-direction: column;
  }
}

.user-form--bankaccount {
  margin-left: 3em;

  @include for-desktop-up {
    margin-left: .5em;
  }
}

/* Edit User Account */
.edit-userform--bottom {
  @include for-desktop-up {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.edit-userform--bottom-delete {
  display: flex;
  justify-content: center;

  @include for-desktop-up {
    flex-direction: column;
    margin-left: 1.9em;
    margin-top: 1.6em;
  }
}

.edit-userform--bottom-delete-icon {
  margin-top: -5.5px;
  margin-right: -7px;

  @include for-desktop-up {
    display: flex;
    justify-content: flex-start;
    margin-left: -17px;
  }
}

.edit-userform--bottom-delete-message {
  margin-top: 5px;

  @include for-desktop-up {
    margin-top: 8px;
  }
}

.edit-userform--bottom-delete-message--p {
  font-size: 14px;
  margin-top: -1px;
}

/* ------ Admin Account ------ */
/* Catering rates */
.paper-rates {
  @include for-big-desktop-up {
    display: flex;
  }
}

.paper-rates--sec {
  margin-top: 3em;

  @include for-big-desktop-up {
    margin-top: 0;
    margin-left: 3em;
  }
}

.rate-edit-form {
  @include for-big-desktop-up {
    display: flex;
    justify-content: center;
  }
}

.rate-edit-form--btn {
  @include for-big-desktop-up {
    margin-left: 2em;
    margin-top: 9px;
  }
}
