.homeboard {
  width: 80%;
  margin: 80px auto;

  @include for-tablet-portrait-up {
    width: 93%;
    display: flex;
    justify-content: space-around;
  }
}

#map {
  height: 400px;
  width: auto;

  @include for-tablet-portrait-up {
    width: 50%;
    margin: auto 0;
  }

  @include for-desktop-up {
    height: 500px;
  }
}

.homeboard--text {
  padding-top: 50px;


  h3 {
    font-family: 'Nanum Gothic', sans-serif;
  }

  @include for-tablet-portrait-up {
    padding-top: 0;
    margin: auto 0;
  }

  @include for-big-desktop-up {
    padding-right: 80px;
  }
}

.phone-icon {
  margin: auto 0;
  padding-right: 18px;

  @include for-desktop-up {
    width: 30px;
    height: 30px;
  }
}

footer {
  letter-spacing: .5px;
}
