.home-board {
  @include for-desktop-up {
    display: flex;
    justify-content: space-around;
  }

  .board {
    margin-bottom: 1.5em;
  }

  h3 {
    font-family: 'Nanum Gothic', sans-serif;
  }
}

footer {
  letter-spacing: .5px;
}
