.homeboard {
  width: 80%;
  margin: 60px auto;

  @include for-desktop-up {
    width: 80%;
    display: flex;
    justify-content: space-around;
  }
}

#map {
  height: 350px;
  width: auto;

  @include for-desktop-up {
    height: 400px;
    width: 40%;
    margin: auto 0;
  }
}

.homeboard--text {
  padding-top: 50px;

  h3 {
    font-family: 'Nanum Gothic', sans-serif;
  }

  @include for-desktop-up {
    padding-top: 0;
    margin: auto 0;
  }
}

footer {
  letter-spacing: .5px;
}

.contact-number {
  border-top: 1px solid #c4c4c4;
  width: 250px;
  margin-bottom: 20px;
  margin: 0 auto;
  font-size: 1.2em;

  @include for-desktop-up {
    width: 300px;
  }
}
