.btn--border {
  border: 1px solid $c-point1;
  padding: 3px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.btn--border:hover {
  color: $c-point1;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
