.pointer {
  cursor: pointer;
}


.notice {
  border-top: 1px solid #fac59c;
  border-bottom: 1px solid #fac59c;
  color: $c-text;
  cursor: pointer;
  padding: 1em;
  margin: 1em;

  @include for-tablet-portrait-up {
    padding: 1.5em;
    margin: 3em;
  }
}

/* print media */
@media print {
  .no-print {
    display: none;
  }

  .print-width {
    width: 99%;
    height: 100%;
    margin: auto;
    text-align: center;
    padding-top: 5px;
  }

  .print-breakAfter {
    page-break-after: auto;
  }

  .print-tr {
    page-break-inside: avoid;
  }
}
