.container {
  height: calc(100vh - 220px);
  margin: 3em auto;
  text-align: center;

  @include for-desktop-up {
    max-width: 1500;
  }
}

// responsive width
.r--w-70 {
  width: 90vw;

  @include for-desktop-up {
    width: 70vw;
  }
}

.r--w-50 {
  width: 90vw;

  @include for-desktop-up {
    width: 50vw;
  }
}

.r--w-20 {
  width: 80vw;

  @include for-desktop-up {
    min-width: 400px;
    width: 20vw;
  }
}

// paper
.paper-label--box {
  display: flex;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 2em;
}

.paper-padding {
  padding: 1em 2em;
}

// need fixed width not to break material ui textfield form
// ex ) admin account page, a user account page
.paper-small {
  width: 300px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 2em;
  padding-bottom: 2em;

  @include for-desktop-up {
    width: 750px;
  }
}
