.container {
  height: calc(100vh - 220px);
  width: 90vw;
  margin: 3em auto;
  text-align: center;

  @include for-desktop-up {
    max-width: 1500;
  }
}

.paper-label--box {
  display: flex;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
}

.paper-padding {
  padding: 1em 2em;
}
