.container-a {
  margin: 3em auto;
  text-align: center;
}

.container-b {
  margin: 2.5em auto;
  text-align: center;
  max-width: 450px;

  @include for-tablet-portrait-up {
    margin: 4em auto;
    max-width: 1000px;
  }
}

/*-- responsive width --*/
// special_meals, users account
.r--w-98 {
  width: 90vw;

  @include for-desktop-up {
    width: 95vw;
  }
}

// invoice, meal_price, revenue,
.r--w-80 {
  width: 90vw;

  @include for-desktop-up {
    width: 80vw;
  }
}

// admin catering
.r--w-70 {
  width: 90vw;

  @include for-desktop-up {
    width: 70vw;
  }
}

// bank account
.r--w-60 {
  width: 90vw;

  @include for-desktop-up {
    width: 60vw;
  }
}

// admin, user account
.r--w-40 {
  width: 90vw;

  @include for-desktop-up {
    width: 60vw;
  }

  @include for-m-desktop-up {
    width: 40vw;
  }
}

// admin, user account
.r--w-30 {
  width: 90vw;

  @include for-tablet-portrait-up {
    width: 50vw;
  }
}
