header {
  background-image: linear-gradient(to top right, rgba(29, 28, 27, 0.6), rgba(39, 37, 35, 0.45)), url(./../assets/img/farm.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  z-index: 1;
  position: relative;
  height: 100vh;
  min-height: 100%;
  background-attachment: fixed;

  @include for-ios-devices {
    //background-attachment fixed doesn't work with background-size on iso devices
    background-attachment: local;
  }
}

.header-text--box {
  position: absolute;
  top: 48%;
  padding-left: 1em;
  padding-right: 1em;

  @include for-x-tablet-portrait-up {
    padding-left: 6em;
    padding-right: 4em;
  }

  @include for-big-desktop-up {
    left: 5%;
  }

  .point1 {
    font-size: 1.7em;

    @include for-big-desktop-up {
      font-size: 2.5em;
    }
  }

  .point2 {
    color: #f8b37d;
  }
}
