/* --- Header --- */
header {
  background-image: linear-gradient(#ece3ec40, rgba(236, 227, 236, 0.5)), url(./../assets/img/header.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  z-index: -1;
  height: 100vh;
  position: relative;
}

.header-text--box {
  position: absolute;
  top: 45%;
  padding-left: 1em;
  padding-right: 1em;

  @include for-x-tablet-portrait-up {
    padding-left: 2.5em;
    padding-right: 4em;
  }

  @include for-big-desktop-up {
    left: 5%;
  }
}

/* --- Nav --- */
.nav {
  z-index: 10000;
  background-color: #ffffff;
}

.nav--top {
  padding: .2em .7em 0 .7em;
}

.nav .nav-menu {
  margin: .5em 0;
  display: flex;
  justify-content: space-around;
}

.btn--border {
  border: 1px solid $c-point1;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
}

.btn--border:hover {
  color: $c-point1;
  transition: color 0.2s;
  -webkit-transition: color 0.2s;
  -moz-transition: color 0.2s;
  -ms-transition: color 0.2s;
  -o-transition: color 0.2s;
}
