header {
  background-image: linear-gradient(rgba(134, 101, 134, 0.25), rgba(134, 101, 134, 0.25)), url(./../assets/img/header.jpeg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
}
