// CSS COMMENTS
body {
  line-height: 1.2em;
  font-size: 18px;
}

.home-page,
.user-page {
  background-color: #444;
  color: #fff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: sans-serif;
  text-align: center;
}

h1 {
  font-size: 3em;
  margin: 50px 0;
}

h2 {
  font-size: 2em;
  margin: 20px;
}

.image {
  border-radius: 100%;
  height: 300px;
  width: 300px;
}

.svg-image {
  height: 80px;
  width: auto;
  margin-top: 40px;
}

nav ul {
  display: flex;
}

nav ul li {
  margin-right: 30px;
  list-style: none;
  margin: 15px;
}

nav ul li a {
  text-decoration: none;
}
