.home-main--container {
  width: 90vw;
  margin: 0 auto;
  max-width: 400px;

  @include for-desktop-up {
    max-width: 900px;
  }
}

.home-main--box {
  margin-top: 5em;

  @include for-desktop-up {
    display: flex;
    justify-content: space-between;
  }
}

.home-main--img {
  width: 80%;
  height: 220px;
  margin-bottom: 1.34em;

  @include for-desktop-up {
    width: 45%;
    height: 320px;
    margin-bottom: 0;
  }
}

.home-main--text {
  margin: auto 0;

  @include for-desktop-up {
    width: 45%;
  }
}

.sesame-link {
  color: #fab812;
}

.reverse {
  @include for-desktop-up {
    flex-direction: row-reverse;
  }
}
