.svg-icon {
  display: inline-block;
  vertical-align: middle;

}

.icon-filledLock,
.icon-lock,
.icon-visibility,
.icon-visibilityOff,
.icon-phone,
.icon-user,
.icon-filledUser,
.icon-email,
.icon-catering,
.icon-address,
.icon-money,
.icon-note,
.icon-calendar,
.icon-time {
  margin-top: 6px;
}

.icon-bankAccount {
  position: relative;
  top: -2px;
  left: 2px;
}

.icon-message--warning {
  margin-top: -.15em;
  color: $c-red;

  @include for-desktop-up {
    margin-top: -.35em;
  }
}

.icon-message--info {
  @include for-desktop-up {
    margin-top: -2px;
  }
}

.icon-print {
  margin-top: 4px;
}

.icon-arrowForward {
  margin-top: 4px;
}

.icon-arrowBack {
  margin-top: 3.8px;
  margin-right: -6px;
}

.icon-arrowLeft {
  margin-top: 2.45px;
  margin-right: -7px;

  @include for-tablet-portrait-up {
    margin-right: 6.5px;
  }
}

.icon-arrowRight {
  margin-left: -12px;

  @include for-tablet-portrait-up {
    margin-left: 0px;
  }
}
