.nav {
  z-index: 10000;
  background-color: #ffffff;

  .contact {
    background-color: $c-point1;
  }

  .login-btn {
    padding: 5px 20px;
    margin: 5px 0;
  }

  .login-btn:hover,
  .anchor:hover {
    color: $c-point1;
    transition: color .2s;
    -webkit-transition: color .2s;
    -moz-transition: color .2s;
    -ms-transition: color .2s;
    -o-transition: color .2s;
  }

  h1 {
    font-family: 'Notable', sans-serif;
    margin-bottom: .5em;
    margin-top: 0;
  }

  .nav--top {
    padding: .5em .7em .5em .7em;
  }

  .nav-menu {
    padding: .25em 0;
    display: flex;
    justify-content: space-around;
  }
}
