// modal && paper
.box-container {
  width: 90vw;
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;

  @include for-desktop-up {
    width: 80vw;
    min-width: 700px;
  }
}

// paper
.paper {

  @include for-m-desktop-up {
    display: flex;
    justify-content: space-around;
  }
}

.paper--sec {
  margin-top: 2em;

  @include for-m-desktop-up {
    margin-top: 0;
    margin-left: 2em;
  }
}

.paper-label-box {
  display: flex;
  // write justify-between or end ..etc in component to be reusable
  padding-left: .5em;
  padding-right: .5em;
  margin-bottom: .3em;

  @include for-m-desktop-up {
    padding-left: 2.5em;
    padding-right: 2.5em;
  }

  @include print {
    margin-top: 1em;
  }
}

.paper-label-box--number {
  margin: auto 0 auto 1em;
}
