.reserve-container {
  margin: 3em 0;
  padding: 2em;
  background-color: $c-point1;

  h3 {
    font-size: 1.9em;
    margin-bottom: .5em;
  }

  .btn {
    font-weight: bold;
    background-color: white;
    border: 2px solid $c-point1;
    box-shadow: 1px 1px #866586d0;
    color: $c-point1;
    padding: 10px 20px;
    margin-top: 1.5em;
    font-size: 1em;
    letter-spacing: 1.1px;

    @include for-desktop-up {
      font-size: .75em;
    }
  }

  .btn:hover {
    border: 2px solid $c-point2;
    color: #814981;
    transition: font-size .2s;
    -webkit-transition: font-size .2s;
    -moz-transition: font-size .2s;
    -ms-transition: font-size .2s;
    -o-transition: border .2s color .2s;
  }
}

/* --- Modal --- */
.modal {
  width: 17em;
  padding: 2em 1em;
  position: absolute;
  box-shadow: 0px 3px 5px -1px rgba(0, 0, 0, 0.2), 0px 5px 8px 0px rgba(0, 0, 0, 0.14), 0px 1px 14px 0px rgba(0, 0, 0, 0.12);
  background-color: #fff;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);

  @include for-tablet-portrait-up {
    width: 23em;
    padding: 4em;
  }
}

/* --- Form --- */
.reserve-form--box {
  display: flex;
  flex-direction: column;
  width: 170px;
  margin: 1.5em auto;
}
