.table-btn--edit {
  margin-left: 20px;
}

.table-btn--close {
  margin-left: -19px;
}

.off {
  transition: all 300ms ease 0s;
  opacity: 0.2;
}

/* 식당 매출 관리 & 고객 금일 위탁급식 식수 */
.catering--hr {
  width: 930px;
}

.resto--hr {
  width: 630px;
}

.table-input--pb {
  padding-bottom: 1.5em;
  padding-top: 1em;
}
