.user-catering--container {
  margin: 2.5em auto;
  text-align: center;
  max-width: 450px;

  @include for-tablet-portrait-up {
    margin: 4em auto;
    max-width: 1000px;
  }
}

.user-catering--form {
  margin: .1em auto;

  @include for-tablet-portrait-up {
    margin-top: 2em;
    max-width: 450px
  }

  @include for-tablet-landscape-up {
    margin-top: 4em;
    max-width: 1000px;
  }
}

.user-catering--notice {
  border-top: 1px solid #fac59c;
  border-bottom: 1px solid #fac59c;
  color: $c-text;
  cursor: pointer;
  padding: 1em;
  margin: 1em;

  @include for-tablet-portrait-up {
    padding: 1.5em;
    margin: 3em;
  }
}

.catering--hr {
  border-bottom: 1px solid $light-grey;
  position: absolute;
  width: 940px;
  margin: 0 auto;
}

.catering--pb {
  padding-bottom: 1.5em;
  padding-top: 1em;
}

.catering--vr {
  border-right: 1px solid $light-grey;
}
