/* ------ FONT COLOR ------ */
.white {
  color: #f4f7fc;
}

.light-grey {
  color: #e2e2e2;
}

.c-text {
  color: #434343;
  ;
}

.c-point1 {
  color: #AE9A65;
}

.c-point2 {
  color: #866586;
}

.c-sub {
  color: #D5C3AA
}
