/* ------ FONT COLOR ------ */
.white {
  color: #ffffff;
}

.light-grey {
  color: #e2e2e2;
}

.c-text {
  color: #434343;
  ;
}

.c-text1 {
  color: #ed6802;
}

.c-text-grey {
  color: #8e8e8e;
}

.c-point1 {
  color: #333;
}

.c-point2 {
  color: #E8716F;
}

.c-point3 {
  color: #D164E8;
}

.c-sub {
  color: #D5C3AA
}

.c-red {
  color: #ed4337;
}

.c-blue {
  color: #2196F3;
}

.c-hover-bg {
  color: #ee910515;
}
