/* ------ FONT COLOR ------ */
.white {
  color: #ffffff;
}

.light-grey {
  color: #e2e2e2;
}

.c-text {
  color: #434343;
  ;
}

.c-text1 {
  color: #ed6802;
}

.c-point1 {
  color: #333;
}

.c-point2 {
  color: #ee9105;
}

.c-point3 {
  color: #866586;
}

.c-sub {
  color: #D5C3AA
}
