@import url('https://fonts.googleapis.com/css?family=Roboto:200,200i,300,300i,400');

body, div, span, h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

body {
  font-size: 16px;
  color: #3c4858;
}

/* ------ FONT SIZE ------ */
.f4 {
  font-size: 12px;
}

.f5 {
  font-size: 14px;
}

.f6 {
  font-size: 18px;
}

.f-xm {
  font-size: .7em;
}

.f-mini {
  font-size: .9em;
}

.f-small {
  font-size: 1.1em;
}

.f-regular {
  font-size: 1.3em;
}

.f-large {
  font-size: 1.5em;
}

.f-xl {
  font-size: 1.7em;
}

.f-xxl {
  font-size: 2.5em;
}

/* ------ FONT WEIGHT ------ */
.fw1 {
  font-weight: 200;
}

.fw3 {
  font-weight: 300;
}

.fw4 {
  font-weight: 400;
}

.fw6 {
  font-weight: 600;
}

.b {
  font-weight: bold;
}

/* ------ TEXT ------ */
.ttu {
  text-transform: uppercase;
}

.tc {
  text-align: center;
}

.td-none {
  text-decoration: none;
}

/* ------ TEXT-SPACE ------ */
.lh-1 {
  line-height: 1.2em;
}

.lh-2 {
  line-height: 1.5em;
}

.lh-3 {
  line-height: 1.8em;
}

.ls-1 {
  letter-spacing: 1px;
}
