h1 {
  img {
    width: 235px;
    height: auto;
    margin-top: .8em;
    margin-bottom: 1.2em;

    @include for-tablet-landscape-up {
      width: 320px;
    }

    @include for-m-desktop-up {
      width: 400px;
    }
  }
}

h2 {
  font-size: 1.4em;
  margin-top: .3em;
  margin-bottom: .6em;
  color: #ffffff;
  text-shadow: .4px .4px rgba(41, 40, 40, 0.815);
  letter-spacing: .5px;
  line-height: 1.2em;

  @include for-m-desktop-up {
    font-size: 1.7em;
    line-height: 1.25em;
  }
}

h3 {
  font-size: 1.55em;
  color: $c-text1;
  margin-bottom: .75em;
  line-height: 1.13636364em;

  @include for-m-desktop-up {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.125em;
  color: #fab812;
  margin-bottom: .5em;
}
