h1 {
  font-size: 1.35em;
  margin-top: .3em;
  margin-bottom: .6em;
  color: #ffffff;
  text-shadow: .4px .4px rgba(41, 40, 40, 0.815);
  letter-spacing: .5px;
  line-height: 1.2em;

  @include for-big-desktop-up {
    font-size: 1.7em;
    line-height: 1.25em;
  }
}

h2 {
  font-size: 1.8em;
  margin-bottom: .75em;

  @include for-big-desktop-up {
    font-size: 2em;
  }
}

h3 {
  font-size: 1.55em;
  margin-bottom: .75em;
  line-height: 1.13636364em;

  @include for-big-desktop-up {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.125em;
  color: #fab812;
  margin-bottom: .5em;
}
