$light-grey: #e2e2e2;
$white: #f4f7fc;
$c-text: #434343;
$c-text1: #ed6802;
$c-text-grey: #8e8e8e;
$c-point1: #333;
$c-point2: #ee9105;
$c-point3: #D164E8;
$c-sub: #D5C3AA;
$c-hover-bg:#ee910515;
$c-red: #ed4337;
$c-blue: #2196F3;
