/* ------ Backgrounds ------ */
.bg-grey {
    background-color: #d5d5d5;
}

.bg-lightblack {
    background-color: #323437;
}

.bg-mainblue {
    background-color: #4da5ff;
}

.bg-darkwhite {
    background-color: #fcfcfc;
}

.bg-lightblue {
    background-color: #f4f7fc;
}

/* ------ FONT COLOR ------ */
.white {
    color: #fff;
}

.light-blue {
    color: #f4f7fc;
}

.main-blue {
    color: #4da5ff;
}

.black {
    color: #3c4858
}

.grey {
    color: #777;
}

.light-grey {
    color: #999999;
}

.x-light-grey {
    color: #c2c2c2;
}

.xx-light-grey {
    color: #dfdfdf;
}

.red {
    color: #FF1133;
}
