h1 {
  font-size: 2em;
  line-height: 1.25em;
  letter-spacing: 2px;
  margin: .25em;

  @include for-tablet-landscape-up {
    font-size: 2.5em;
    line-height: 1.125em;
  }

  @include for-m-desktop-up {
    font-size: 3em;
    line-height: 1.05em;
  }
}

h2 {
  font-size: 1.625em;
  margin-top: .3em;
  margin-bottom: .6em;
  color: #ffffff;
  text-shadow: .4px .4px rgba(41, 40, 40, 0.815);
  letter-spacing: .5px;
  line-height: 1.125em;

  @include for-tablet-landscape-up {
    font-size: 2em;
    line-height: 1.25em;
  }

  @include for-m-desktop-up {
    font-size: 2.25em;
  }
}

h3 {
  font-size: 1.375em;
  color: $c-point1;
  margin-bottom: .75em;
  line-height: 1.13636364em;

  @include for-tablet-landscape-up {
    font-size: 1.5em;
    line-height: 1.25em;
  }

  @include for-m-desktop-up {
    font-size: 1.75em;
  }
}

h4 {
  font-size: 1.125em;
  color: $c-point2;
  margin-bottom: .5em;
}
