h1 {
  font-size: 2em;
  margin-top: .5em;
  margin-bottom: .8em;
  letter-spacing: 2px;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em;
  text-shadow: .4px .4px rgb(168, 166, 166);
  color: #ffffff;
  letter-spacing: 1px;
}
