h1 {
  font-size: 2em;
  font-weight: 300;
  margin-top: .5em;
  margin-bottom: .8em;
}

h2 {
  font-size: 1.625em;
  line-height: 1.15384615em;
  font-weight: 300;
  text-shadow: .4px .4px rgb(168, 166, 166);
  color: #ffffff;
}
