input {
  /* Remove iOS shadow */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
}

.input--medium {
  font-size: 1.5em;
}

.input--small {
  font-size: 1em;
}

.input--mini {
  font-size: 0.8em;
}

/*- input-placeholder -*/

.input::placeholder {
  color: #333;
  opacity: 1;
  word-spacing: 0.5px;
  letter-spacing: 0.5px;
  text-indent: 3px;
  font-weight: 300;
}

.input:focus::placeholder {
  opacity: 0;
}

/*- form border -*/

.form--border {
  border: 1px solid #333;
  padding: 5px 10px;
  border-radius: 5px;
}

/*- border focus on Error -*/

.input--error {
  border-color: #333;
  box-shadow: 0.6px 0.6px 0.6px 1px #333;
}

/*-- error message --*/

.span--error {
  color: #333;
  margin-left: 12px;
  margin-top: 15px;
  font-weight: 200;
  font-size: 0.8em;
}

*:focus {
  outline: none;
}
