// include all color code

$main-blue: #4da5ff;
$light-blue: #D7E8F8;
$black: #3c4858;
$grey: #777;
$light-grey: #999999;
$white: #fff;
$bg-grey: #D5D5D3;
$bg-light-black: #323437;
$red: #FF1133;
$x-light-grey: #c2c2c2;
$xx-light-grey: #dfdfdf;
